.lista-categoria {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.lista-categoria_lista {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lista-categoria_item {
  background-color: var(--secundaria);
  color: #fff;
  padding: 4px 8px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.lista-categoria_input {
  margin-right: 20px;
}
